.theme-color {
    color: #f74b6f;
}
ul.site-menu > li.active > a, ul.site-menu > li> a:hover, ul.site-menu > li> a:active, .header-sticky ul.site-menu > li.active > a, .header-sticky ul.site-menu > li> a:hover, .header-sticky ul.site-menu > li> a:active {
    color: #f74b6f;
}
.header-navbar a:hover, .header-navbar a:active, .set-header-sticky.header-sticky a:hover, .set-header-sticky.header-sticky a:active, .mobile-header a:hover, .mobile-header a:active, .set-header-sticky.header-sticky .mobile-header a:hover, .set-header-sticky.header-sticky .mobile-header a:active {
    color: #f74b6f;
}
.set-header-sticky.header-sticky .header-navbar a:hover, .set-header-sticky.header-sticky .header-navbar a:active, .set-header-sticky.header-sticky .mobile-header a:hover, .set-header-sticky.header-sticky .mobile-header a:active {
    color: #f74b6f;
}
.set-header-sticky:not(.header-sticky) .header-abs a:hover,
.set-header-sticky:not(.header-sticky) .header-abs a:active,
.set-header-sticky:not(.header-sticky) .header-abs ul.site-menu > li > a:hover,
.set-header-sticky:not(.header-sticky) .header-abs ul.site-menu > li > a:active {
	color: #f74b6f;
}
.set-header-sticky:not(.header-sticky) .header-abs.header-abs-dark a:hover,
.set-header-sticky:not(.header-sticky) .header-abs.header-abs-dark a:active,
.set-header-sticky:not(.header-sticky) .header-abs.header-abs-dark > li > a:hover,
.set-header-sticky:not(.header-sticky) .header-abs.header-abs-dark > li > a:active {
	color: #f74b6f;
}
ul.site-menu li.menu-item-has-children .sub-menu a:hover, ul.site-menu li.menu-item-has-children .sub-menu a:active {
    color: #f74b6f;
}
.btn-primary {	
    background: #f74b6f;
    border-color: #f74b6f;
}
.btn-primary:hover, .btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background: #f74b6f;
    border-color: #f74b6f;
}
.btn-primary.disabled, .btn-primary:disabled {
    background-color: #f74b6f;
    border-color: #f74b6f;
}
.btn-outline-primary {
    color: #f74b6f;
    border-color: #f74b6f;
}
.btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    background: #f74b6f;
    border-color: #f74b6f;
}
.section-sub-title {
    color: #f74b6f;
}
.secion-seperator:before {
    border-top: 4px solid #f74b6f;
}
.secion-seperator:after {
    border-top: 4px solid #f74b6f;
}
.waves-icon {
    background: #f74b6f;
    color: #fff;
}
.waves-icon:hover {
    color: #f74b6f;
	background: #fff;
}
span.arrow-icon {
    background: #f74b6f;
}
a:hover, a:active {
    color: #f74b6f;
}
.feature-box:hover .icon-theme {
    color: #f74b6f;
}
.subscribe-form button {
    background: #f74b6f;
}
.accordion-item .card-header .btn {
    background: #f74b6f;
}
.progress-bar {
    background: #f74b6f;
}
.progress-classic span.progress-value {
    background: #f74b6f;
}
.progress-classic span.progress-value:after {
    border-top: 5px solid #f74b6f;
}
.flip-box-back {
    background-color: #f74b6f;
}
.portfolio-inner:after {
    background: #f74b6f;
}
ul.overlay-icons > li > a:hover {
    background: #f74b6f;
}
.about-img-1-overlay {
    background: #f74b6f;
}
.team-overlay {
    background: #f74b6f;
}
.item-overlay {
    background: #f74b6f;
}
.price-table .price-badge {
    background-color: #f74b6f;
}
.date-overlay-wrap {
    background: #f74b6f;
}
.blog-wrapper:hover .post-title {
    color: #f74b6f;
}
.nav-light-to-theme a:hover, .nav-light-to-theme a:active {
    color: #f74b6f;
}
.contact-wrapper:hover .contact-info-btn span {
    background: #f74b6f;
}
li.cat-item:before {
    color: #f74b6f;
}
.form-control:focus {
    border-color: #f74b6f;
}
.subscribe-form input:focus {
    border-color: #f74b6f;
}
.search-widget .input-group input.form-control {
    border: 1px solid #f74b6f;
}
.header-topbar {
    min-height: 40px;
    background: #152860;
    display: flex;
    align-items: center;
}
.header-navbar {
    min-height: 60px;
    display: flex;
    align-items: center;
}
span.info-icon {
    color: #f74b6f;
}
span.info-large-icon {
    color: #f74b6f;
}