.theme-color {
    color: #ecb802;
}
ul.site-menu > li.active > a, ul.site-menu > li> a:hover, ul.site-menu > li> a:active, .header-sticky ul.site-menu > li.active > a, .header-sticky ul.site-menu > li> a:hover, .header-sticky ul.site-menu > li> a:active {
    color: #ecb802;
}
.header-navbar a:hover, .header-navbar a:active, .set-header-sticky.header-sticky a:hover, .set-header-sticky.header-sticky a:active, .mobile-header a:hover, .mobile-header a:active, .set-header-sticky.header-sticky .mobile-header a:hover, .set-header-sticky.header-sticky .mobile-header a:active {
    color: #ecb802;
}
.set-header-sticky.header-sticky .header-navbar a:hover, .set-header-sticky.header-sticky .header-navbar a:active, .set-header-sticky.header-sticky .mobile-header a:hover, .set-header-sticky.header-sticky .mobile-header a:active {
    color: #ecb802;
}
.set-header-sticky:not(.header-sticky) .header-abs a:hover,
.set-header-sticky:not(.header-sticky) .header-abs a:active,
.set-header-sticky:not(.header-sticky) .header-abs ul.site-menu > li > a:hover,
.set-header-sticky:not(.header-sticky) .header-abs ul.site-menu > li > a:active {
	color: #ecb802;
}
.set-header-sticky:not(.header-sticky) .header-abs.header-abs-dark a:hover,
.set-header-sticky:not(.header-sticky) .header-abs.header-abs-dark a:active,
.set-header-sticky:not(.header-sticky) .header-abs.header-abs-dark > li > a:hover,
.set-header-sticky:not(.header-sticky) .header-abs.header-abs-dark > li > a:active {
	color: #ecb802;
}
ul.site-menu li.menu-item-has-children .sub-menu a:hover, ul.site-menu li.menu-item-has-children .sub-menu a:active {
    color: #ecb802;
}
.btn-primary {
    background: #ecb802;
    border-color: #ecb802;
}
.btn-primary:hover, .btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background: #ecb802;
    border-color: #ecb802;
}
.btn-primary.disabled, .btn-primary:disabled {
    background-color: #ecb802;
    border-color: #ecb802;
}
.btn-outline-primary {
    color: #ecb802;
    border-color: #ecb802;
}
.btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    background: #ecb802;
    border-color: #ecb802;
}
.section-sub-title {
    color: #ecb802;
}
.secion-seperator:before {
    border-top: 4px solid #ecb802;
}
.secion-seperator:after {
    border-top: 4px solid #ecb802;
}
.waves-icon {
    background: #ecb802;
    color: #fff;
}
.waves-icon:hover {
    color: #ecb802;
	background: #fff;
}
span.arrow-icon {
    background: #ecb802;
}
a:hover, a:active {
    color: #ecb802;
}
.feature-box.feature-box-radius:hover {
    background-color: #ffe8e8;
}
.feature-box:hover .icon-theme {
    color: #ecb802;
}
.subscribe-form button {
    background: #ecb802;
}
.feature-box.feature-box-radius {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
}
.accordion-item .card-header .btn {
    background: #ecb802;
}
.progress-bar {
    background: #ecb802;
}
.progress-classic span.progress-value {
    background: #ecb802;
}
.progress-classic span.progress-value:after {
    border-top: 5px solid #ecb802;
}
.flip-box-back {
    background-color: #ecb802;
}
.portfolio-inner:after {
    background: #ecb802;
}
ul.overlay-icons > li > a:hover {
    background: #ecb802;
}
.about-img-1-overlay {
    background: #ecb802;
}
.team-overlay {
    background: #ecb802;
}
.price-table .price-badge {
    background-color: #ecb802;
}
.date-overlay-wrap {
    background: #ecb802;
}
.blog-wrapper:hover .post-title {
    color: #ecb802;
}
.nav-light-to-theme a:hover, .nav-light-to-theme a:active {
    color: #ecb802;
}
.contact-wrapper:hover .contact-info-btn span {
    background: #ecb802;
}
li.cat-item:before {
    color: #ecb802;
}
.form-control:focus {
    border-color: #ecb802;
}
.subscribe-form input:focus {
    border-color: #ecb802;
}
.search-widget .input-group input.form-control {
    border: 1px solid #ecb802;
}